@import url("https://fonts.googleapis.com/css?family=Raleway:400,500");
* {
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: baseline;
    }
    header{
        background-color: rgb(24, 109, 109);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center; 
        height: 10vh;
        font-size: 1.5cm;
        font-weight: 500;
    }
    body{
        font-family: "Raleway", sans-serif;
        
    }
    .column {
        float: left;
        width: 20%;
        margin-top: 20px;
    }
    .row{
        display: flex;
        justify-content: center;
    }
    .row:after {
        content: "";
        display: table;
        clear: both
    }
    #drum-machine{
        display: block;
        position: absolute;
        background-color: rgb(24, 109, 109);
        color: rgb(255, 255, 255);
        font-family: "Raleway", sans-serif;
        width: 700px;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        top: 20%;
        height: 300px;   
        padding: 50px; 
        border-radius: 10px; 
    }
    .drum-pad{
        display: flex;
        background-color: white;
        color: rgb(24, 109, 109);
        height: 40px;
        margin: 10px 30px;
        width: 70px;
        font-weight: 700;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    #display{
        background-color: rgba(0, 0, 0, 0.452);
        padding: 10px;
        text-align: center;
        border-style:groove;
        border-radius: 10px;
        font-size: 0.7cm;  
        width: 100%;
    }
